certifi==2022.12.7
cffi==1.14.3
chardet==3.0.4
cryptography==3.3.2
decorator==4.4.2
idna==2.10
psycopg2-binary==2.8.6
pycparser==2.20
python-telegram-bot==13.0
requests==2.24.0
six==1.15.0
tornado==6.0.4
urllib3==1.25.11
